[submodule "BarcodeBERT"]
	path = BarcodeBERT
	url = https://github.com/Kari-Genomics-Lab/BarcodeBERT.git
	branch = BIOSCAN-5M
[submodule "BIOSCAN_ZSC"]
	path = BIOSCAN_ZSC
	url = https://github.com/scottclowe/zs-ssl-clustering
	branch = BIOSCAN-5M
[submodule "CLIBD"]
	path = CLIBD
	url = git@github.com:bioscan-ml/clibd.git
	branch = main
[submodule "barcode_statistics"]
	path = barcode_statistics
	url = https://github.com/zahrag/barcodemetrics.git
